# Network enviroment
SUI_NETWORK=testnet

# Pavilion Package ID
NEXT_PUBLIC_PAVILION_PACKAGE_ID=0xYourDeployedPackageId

# Pavilion Extension Type
NEXT_PUBLIC_PAVILION_EXTENSION_TYPE=0xPavilionExtensionId

# Pavilion Platform Config ID
NEXT_PUBLIC_PLATFORM_CONFIG_ID=0xConfigID

# Platform Trasury ID
NEXT_PUBLIC_TREASURY_ID=0xTreasuryID